/* =====================header */
header {
    height: 70px; background-color: #fff;
    /* header 자식 h1, nav, .lnb */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed; left: 0; top: 0; z-index: 999;
    width: 100%;
}
header h1 {}
header h1 a {}
header h1 a img {}
/* =====================header nav-desktop */
header > nav {}
header > nav .sub_bg {
    background: #fff;
    position: absolute; top: 70px; left: 0;
    width: 100%; height: 220px;
}
header > nav .gnb {
    /* 초기모습 수직 메뉴 이유 : li block */
    /* li 옆으로 배치하기 위해 부모 gnb -> flex */
    display: flex;
}
header > nav .gnb > li {
    /* 형ㅈ 구조 li -> width값 입력 시 글자 수가 달라서 간격차이가 생기므로 여백으로 해결 */
    margin-right: 100px;
    position: relative;
}
header > nav .gnb > li:last-child {margin: 0;}
header > nav .gnb > li > a {
    font-weight: 700;
}
header > nav .gnb > li > .sub {
    position: absolute; left: 0; top: 50px;
    width: 100%;
}
header > nav .gnb > li > .sub li {}
header > nav .gnb > li > .sub li a {
    font-size: 0.91rem; width: max-content;
    display: block; white-space: nowrap;
    line-height: 30px;
}
header > nav .gnb > li > .sub li a img {
    width: 170px
}
/* =====================header nav-mobile */
header .lnb {
    /* 자식 m_nav(block), my_menu, notice */
    display: flex;
}
header .lnb .m_nav {display: none;}/* 모바일메뉴 숨기기 */
header .lnb .m_nav .all_nav {
    display: block; width: 24px; height: 24px;
}
header .lnb .m_nav .all_nav img {width: 100%;}
/* =====================header 모바일 nav clone 디자인 */
header .lnb .m_nav nav {
    /* display: none; */
}
header .lnb .m_nav nav .sub_bg {
    background: aqua;
    position: absolute; top: 70px; right: 0;
    width: 500px; height: 100vh;
}
header .lnb .m_nav nav .gnb {
    position: absolute; top: 70px; right: 0;
    padding: 30px 10px;
    width: 500px;
}
header .lnb .m_nav nav .gnb > li {}
header .lnb .m_nav nav .gnb > li > a {
    border-bottom: 1px solid #000;
    display: block;
    line-height: 30px;
    font-weight: 700;
}
header .lnb .m_nav nav .gnb > li > .sub {
    /* display: none; */
}
header .lnb .m_nav nav .gnb > li > .sub li {
    border-bottom: 1px dashed #ddd;
    line-height: 30px;
}
header .lnb .m_nav nav .gnb > li > .sub li a {}
/* =====================header lnb */
header .lnb .my_menu {
}
header .lnb .notice {
    background-position-x: right;
}
header .lnb > a {
    background-image: url(../images/ico_header.png);
    width: 20px; height: 25px;
    margin-left: 12px;
}
header .lnb > a span {display: none;}
/* =====================main */
main {margin-top: 70px;}
/* =====================main visual 캐스퍼 카탈로그, 다운로드 */
main .visual {
    position: relative;
    background-image: url(../images/visual.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);/* header(70px)높이를 뺀 만큼의 뷰포트 크기 */
}
main .visual .txt {
    color: #fff; text-align: center;
    padding-top: 50px;
}
main .visual .txt h1 {
    font-size: 5rem; font-weight: 800;
}
main .visual .txt p {
    font-size: 1.2rem;
    margin: 30px 0;
}
main .visual .txt .link {}
main .visual .txt .link a {
    display: inline-block;
    color: #fff; background: #002c5f;
    padding: 10px 20px;
}
main .visual .scroll {
    text-align: center; width: 100%;
    position: absolute; bottom: 80px;
    animation: move 0.7s linear alternate infinite;
}
main .visual .scroll img {
    filter: invert(1);
    width: 50px;
}