@import 'common';
.top_btn {
    position: fixed; z-index: 990; right: 30px; bottom: 80px; 
    display: none; 
    a{img {}}}
header {
    position: fixed; z-index: 990; left: 0; top: 0;
    width: 100%;
    .lnb_bg {
        background-color: $bg2; height: 38px;
        .lnb {
            @include center;
            @include flex; justify-content: right; 
            position: relative;
            a {
                font-family: nanum; font-size: $font14;
                margin-right: 20px; line-height: 38px;
            }
            a:first-child {margin-right: 40px;}
            a:first-child::after {
                content:''; background-color: $color1; display: inline-block;
                width: 1px; height: 38px;
                position: absolute; right: 337px;
            }
            a:last-child {margin: 0;}
        }
    }
    .inner_header_bg {
        background-color: $bg1; position: relative;
        .inner_header {
            height: 100px; @include center;
            @include flex;
            h1 {a {img {}}}
            nav{
                .gnb {
                    @include flex;
                    > li {
                        > a {
                            font-size: $font14; font-family: Arial, nanum;
                            letter-spacing: 0.4px; font-weight: 700;
                            margin-right: 60px;
                            transition: all 0.2s ease;
                            line-height: 100px;
                        }
                        .bg {/* 마우스 올렸을 때 나타나는 메뉴 */
                            background-color: $bg2;
                            @include pst_ab; width: 100%; padding: 30px 0;
                            @include flex; justify-content: center;
                            align-items: start;
                            display: none;
                            transition: opacity 0.3s ease;
                            .title {
                                width: 250px;
                                p {font-weight: 700; font-size: 1.25rem; color: $color2;}
                            }
                            .sub {
                                display: grid; grid-template-columns: repeat(5, 1fr);
                                row-gap: 50px;
                                width: 950px;
                                > li {
                                    width: 186px;
                                    a {
                                        font-family: nanum; font-weight: 700;
                                        font-size: 0.938rem; color: $color8
                                    }
                                    .depth1 {
                                        margin-top: 20px;
                                        li {
                                            margin-bottom: 10px;
                                            a{
                                                font-family: nanum; font-size: $font13;
                                                font-weight: 400; color: $color9;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > li:last-child {
                        p {
                            margin-bottom: 20px;
                        }
                    }
                    > li:last-child > a {margin: 0;}
                    > li:hover > a {color: $color2;}
                }
            }
            .search_wrap {
                #search_btn {
                    @include btn;
                    background-image: url(../images/icon_search.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 20px; height: 20px;
                }
                .search_on {/* 검색버튼 눌렀을 때 창닫기 버튼*/
                    background-image: url(../images/icon_search_close.png)!important;
                }
                .search_display {/* 검색버튼 눌렀을 때 검색창 나오기 */
                    display: flex!important;
                }
                .bg{/* 검색버튼 눌렀을 때 나오는 검색바 */
                    @include pst_ab; background: $bg2;
                    width: 100%; height: 80px;
                    @include flex; justify-content: center;
                    display: none;
                    input {
                        border: 0;
                        border-bottom: 1px solid $color1;
                        background: none; text-align: center;
                        width: 1160px; margin-right: 20px; line-height: 30px;
                        font-family: nanum;
                    }
                    #in_search_btn {@include btn;}
                }
            }
        }
    }
}
main {
    margin-top: 138px;
    .visual_wrap {/* 비주얼 이미지 */
        .visual {
            width: 100%; position: relative;
            .swiper-wrapper {
                .swiper-slide {
                    a {
                        background-size: cover;
                        background-position: center;
                        height: 700px; display: block;
                        span {display: none;}
                    }
                }
                .slide1 {
                    a {background-image: url(../images/visual_001.jpg);}
                }
                .slide2 {
                    a {background-image: url(../images/visual_002.jpg);}
                }
            }
            .swiper-button {
                width: 1200px;
                height: 50px;
                @include pst_ab; z-index: 990;
                top:50%; left: 50%;
                transform: translate(-50%, -50%);/* absolute 기준점 맞추기 */
                .swiper-button-prev {img{}}
                .swiper-button-prev::after {display: none;}
                .swiper-button-next {img{}}
                .swiper-button-next::after {display: none;}
            }
        }
    }
    .banner {/* 광고배너 */
        a{
            width: 100%; height:400px; display: block;
            @include flex; justify-content: center;
            img {}
        }   
    }
    .pick_wrap {/* MD pick */
        @include center; text-align: center;
        padding: $p55; 
        h2 {
            @include title;
        }
        .pick {
            .swiper-wrapper {
                @include flex;
                margin: $m35;
                .swiper-slide {
                    position: relative;
                    a {
                        .photo {
                            margin-bottom: 25px;
                            img {width: 100%; transition: all 0.5s ease;}
                            img:hover {opacity: 0.8;}
                        }
                        .txt_box {
                            height: 150px;
                            color: $color6; 
                            .name {
                                font-family: archer_b, nanum; font-size: $font18;
                                font-weight: 700;
                                line-height: 22px; @include dot;
                                
                            }
                            .date {
                                font-family: Arial, nanum; font-size: 0.875rem;
                                margin: 15px 0; @include dot
                            }
                            .cost {
                                font-family: nanum; font-size: $font13;
                                margin-bottom: 5px;
                            }
                            .total_price {
                                font-family: nanum; font-size: 0.875rem;
                                color: $color2;
                            }
                        }
                        .quickview {/* 팝업시작 버튼 */
                            @include pst_ab; top: 200px; left: 50%;
                            transform: translateX(-50%);
                            width: 200px; height: 40px;
                            background-color: $bg3; color: $color3;
                            border: 0; font-family: archer_b; font-size: $font14;
                            letter-spacing: 0.8px;
                            display: none;
                        }
                    }
                    // a:hover + .quickview {display: block;}
                }
                .swiper-slide:last-child {margin: 0;}
            }
            .page_btn {/* 페이지버튼 */
                @include flex;
                justify-content: center;
                width: max-content; height: 15px;
                position: relative;
                margin: 0 auto;
                .pause {
                    height: 13px;
                    button {
                        background-image: url(../images/btn_pause.png);
                        background-position: center; background-repeat: no-repeat;
                        width: 11px; height: 13px;
                        border: 0;
                        background-color: $bg1;
                    }
                }
                .play {
                    height: 13px;  display: none; 
                    button {
                        background-image: url(../images/btn_play.png);
                        background-position: center; background-repeat: no-repeat;
                        width: 11px; height: 13px;
                        border: 0;
                        background-color: $bg1;
                    }
                }
                .swiper-pagination::before {/* 구분선 */
                    content: ''; display: inline-block;
                    width: 1px; height: 12px;
                    background-color: $color1;
                    margin: 0 25px 0 25px;
                }
                .swiper-pagination {
                    width: max-content; height: max-content;
                    top: 0; left: 11px; 
                    .swiper-pagination-bullet {
                        background-color: $bg2;
                        opacity: 1;
                        width: 15px; height: 15px;
                    }
                    .swiper-pagination-bullet-active {background-color: $bg3;}
                }
            }
        }
    }
    .popup_bg {/* 팝업페이지 */
        display: none;
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 100%; width: 100%;
        position: fixed; left: 0; top: 138px; z-index: 999;
        .popup {
            background-color: $bg1;
            width: 1080px; height: 600px;
            padding: 60px 40px;
            @include flex;
            position: absolute; left: 50%; top: calc((100vh - 138px) / 2);
            transform: translate(-50%, -50%);
            .item_popup {
                width: 480px; height: 480px;
                position: relative;
                margin: 0;
                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%; background-position: center;
                        span {display: none;}
                    }
                    .slide1 {background-image: url(../images/popup_001.jpg);}
                    .slide2 {background-image: url(../images/popup_002.jpg);}
                    .slide3 {background-image: url(../images/popup_003.jpg);}
                }
                .swiper-button-prev {
                    position: absolute; left: 11px;
                    img{}
                }
                .swiper-button-prev::after {display: none}
                .swiper-button-next {
                    position: absolute; right: 12px;
                    img{}
                }
                .swiper-button-next::after {display: none}
            }
            .info {
                @include flex; flex-flow: column nowrap; align-items: start;
                width: 480px; height: 480px; text-align: start;
                .top {
                    h2 {
                        font-size: 1.5rem; font-family: archer, nanum; font-weight: 700;
                        color: #000; line-height: 1.4;
                    }
                    .date {
                        font-family: nanum; font-size: $font14;
                        margin: 10px 0;
                    }
                    .price {
                        font-family: nanum; 
                        del{}
                        em {margin-left: 12px; color: $color2;}
                    }
                }
                .btm {
                    dl {
                        @include flex; justify-content: start;
                        dt{
                            width: 73px;
                            font-family: nanum; font-size: $font13;
                        }
                        dd {
                            font-family: nanum; font-size: $font13;
                        }
                    }
                    dl:nth-child(2){
                        margin: 10px 0;
                    }
                    dl:last-of-type {
                        dd {
                            @include flex; justify-content: center;
                            width: 180px; height: 31px;
                            button {
                                background: none; border: 0;
                                img {}
                            }
                            #minus {}
                            #count {
                                font-family: nanum; font-size: $font13;
                                width: 118px; line-height: 28px;
                                background-color: $bg2; 
                                border: 1px solid $color7; border-left: 0; border-right: 0;
                                margin-bottom: 2px; text-align: center;
                                appearance: none;
                            }
                            #plus {}
                        }
                    }
                    .btn {
                        @include flex; width: 480px; 
                        button {
                            width: 235px; height: 45px;
                            font-family: archer; font-size: $font14;
                            letter-spacing: 0.8px;
                            border: 0; color: $color3;
                            margin-top: 20px;
                        }
                        #cart_btn {background-color: $bg3;}
                        #buy_btn {background-color: $bg6;}
                    }
                }
            }
            #popup_close {
                background: 0; border: 0;
                position: absolute; top: 20px; right: 20px; z-index: 999;
                img {}
            }
        }
    }
    .new_wrap {/* 신상 */
        @include center; text-align: center;
        padding: $p55;
        h2 {@include title;}
        .new_slide {
            .swiper-wrapper {
                @include flex;
                margin: $m35;
                .swiper-slide {
                    height: 580px;
                    a {
                        p:first-child {
                            margin-bottom: 25px;
                            img {transition: all 0.5s ease;}
                            img:hover {opacity: 0.8;}
                        }
                        p:last-child {
                            padding: 0 40px; height: 90px; color: $color2;
                            font-family: archer, nanum; font-size: $font18;
                        }
                    }
                }
            }
            .page_btn {/* 페이지버튼 */
                @include flex;
                justify-content: center;
                width: max-content; height: 15px;
                position: relative;
                margin: 0 auto;
                .pause {
                    height: 13px;
                    button {
                        background-image: url(../images/btn_pause.png);
                        background-position: center; background-repeat: no-repeat;
                        width: 11px; height: 13px;
                        border: 0;
                        background-color: $bg1;
                    }
                }
                .play {
                    height: 13px;  display: none;
                    button {
                        background-image: url(../images/btn_play.png);
                        background-position: center; background-repeat: no-repeat;
                        width: 11px; height: 13px;
                        border: 0;
                        background-color: $bg1;
                    }
                }
                .swiper-pagination::before {/* 구분선 */
                    content: ''; display: inline-block;
                    width: 1px; height: 12px;
                    background-color: $color1;
                    margin: 0 25px 0 25px;
                }
                .swiper-pagination {
                    width: max-content; height: max-content;
                    top: 0; left: 11px; 
                    .swiper-pagination-bullet {
                        background-color: $bg2;
                        opacity: 1;
                        width: 15px; height: 15px;
                    }
                    .swiper-pagination-bullet-active {background-color: $bg3;}
                }
            }
        }
    }
    .insta_wrap {/* 인스타그램 */
        background-color: $bg4;
        text-align: center;
        padding: $p55;
        h2 {
            @include title;
            color: $color3;
        }
        .thumbnail {
            padding: 30px 0;
            @include center;
            @include flex; 
            justify-content: center; flex-flow: row wrap;
            a {
                width: 200px; height: 200px; overflow: hidden;
                img {
                    width: 100%; 
                    transition: all 0.5s ease;
                }
            }
            a:hover img {transform: scale(1.1); opacity: 0.8;}
        }
        #insta {
            color: $color3;
            background-color: $bg3;
            font-family: archer, nanum; font-size: 0.875rem;
            letter-spacing: 1px; display: inline-block;
            width: 400px; line-height: 40px;
        }
    }
}
footer {
    background-color: $bg5;
    padding: $p55;
    .menu {
        @include center;
        margin-bottom: 55px;
        dl {
            @include flex;
            justify-content: start;
            margin-bottom: 30px;
            dt {
                font-family: archer, nanum; font-size: $font18;
                width: 135px; color: $color2;
                margin-right: 50px;
            }
            dd {
                a {
                    font-family: nanum; font-size: $font13;
                    color: #4b2616;
                    em {font-family: nanum_b;}
                }
            }
            dd::after {
                @include page_line; height: 10px; 
                background-color: $color7;
                margin: 0 30px;
            }
            dd:last-child::after {display: none;}
        }
        dl:last-child {margin: 0;}
    }
    .inner_footer {
        @include center;
        padding-top: 30px;
        border-top: 1px solid #4b2616;
        @include flex; align-items: start;
        .left{
            .law {
                margin-bottom: 25px;
                a {
                    font-family: nanum; font-size: $font13;
                    color: $color5;
                    em{color: $color2;}
                }
                a::after {
                    @include page_line; height: 10px; 
                    background-color: #4b2616;
                    margin: 0 10px;
                }
                a:last-child::after {display: none;}
            }
            .address {
                span {
                    font-family: nanum; font-size: $font13;
                    line-height: 1.8;
                    color: $color5;
                }
                span::after {
                    @include page_line; height: 10px; 
                    background-color: $color5;
                    margin: 0 10px;
                }
                span:nth-of-type(3)::after,
                span:nth-of-type(6)::after,
                span:last-child::after {display: none;}
            }
        }
        .sns {
            a {
                margin-left: 15px;
                img{}
            }
            a:first-child {margin: 0;}
        }
    }
}
