@charset "UTF-8";
.top_btn {
  position: fixed;
  z-index: 990;
  right: 30px;
  bottom: 80px;
  display: none;
}
header {
  position: fixed;
  z-index: 990;
  left: 0;
  top: 0;
  width: 100%;
}
header .lnb_bg {
  background-color: #EEEEEE;
  height: 38px;
}
header .lnb_bg .lnb {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: right;
  position: relative;
}
header .lnb_bg .lnb a {
  font-family: nanum;
  font-size: 0.875rem;
  margin-right: 20px;
  line-height: 38px;
}
header .lnb_bg .lnb a:first-child {
  margin-right: 40px;
}
header .lnb_bg .lnb a:first-child::after {
  content: "";
  background-color: #ccc;
  display: inline-block;
  width: 1px;
  height: 38px;
  position: absolute;
  right: 337px;
}
header .lnb_bg .lnb a:last-child {
  margin: 0;
}
header .inner_header_bg {
  background-color: #fff;
  position: relative;
}
header .inner_header_bg .inner_header {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .inner_header_bg .inner_header nav .gnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .inner_header_bg .inner_header nav .gnb > li > a {
  font-size: 0.875rem;
  font-family: Arial, nanum;
  letter-spacing: 0.4px;
  font-weight: 700;
  margin-right: 60px;
  transition: all 0.2s ease;
  line-height: 100px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg { /* 마우스 올렸을 때 나타나는 메뉴 */
  background-color: #EEEEEE;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: start;
  display: none;
  transition: opacity 0.3s ease;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .title {
  width: 250px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .title p {
  font-weight: 700;
  font-size: 1.25rem;
  color: #CF661A;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 50px;
  width: 950px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub > li {
  width: 186px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub > li a {
  font-family: nanum;
  font-weight: 700;
  font-size: 0.938rem;
  color: #4b2616;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub > li .depth1 {
  margin-top: 20px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub > li .depth1 li {
  margin-bottom: 10px;
}
header .inner_header_bg .inner_header nav .gnb > li .bg .sub > li .depth1 li a {
  font-family: nanum;
  font-size: 0.813rem;
  font-weight: 400;
  color: #604f48;
}
header .inner_header_bg .inner_header nav .gnb > li:last-child p {
  margin-bottom: 20px;
}
header .inner_header_bg .inner_header nav .gnb > li:last-child > a {
  margin: 0;
}
header .inner_header_bg .inner_header nav .gnb > li:hover > a {
  color: #CF661A;
}
header .inner_header_bg .inner_header .search_wrap #search_btn {
  background: none;
  border: 0;
  background-image: url(../images/icon_search.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
header .inner_header_bg .inner_header .search_wrap .search_on { /* 검색버튼 눌렀을 때 창닫기 버튼*/
  background-image: url(../images/icon_search_close.png) !important;
}
header .inner_header_bg .inner_header .search_wrap .search_display { /* 검색버튼 눌렀을 때 검색창 나오기 */
  display: flex !important;
}
header .inner_header_bg .inner_header .search_wrap .bg { /* 검색버튼 눌렀을 때 나오는 검색바 */
  position: absolute;
  top: 100px;
  left: 0;
  background: #EEEEEE;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  display: none;
}
header .inner_header_bg .inner_header .search_wrap .bg input {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: none;
  text-align: center;
  width: 1160px;
  margin-right: 20px;
  line-height: 30px;
  font-family: nanum;
}
header .inner_header_bg .inner_header .search_wrap .bg #in_search_btn {
  background: none;
  border: 0;
}

main {
  margin-top: 138px;
}
main .visual_wrap { /* 비주얼 이미지 */ }
main .visual_wrap .visual {
  width: 100%;
  position: relative;
}
main .visual_wrap .visual .swiper-wrapper .swiper-slide a {
  background-size: cover;
  background-position: center;
  height: 700px;
  display: block;
}
main .visual_wrap .visual .swiper-wrapper .swiper-slide a span {
  display: none;
}
main .visual_wrap .visual .swiper-wrapper .slide1 a {
  background-image: url(../images/visual_001.jpg);
}
main .visual_wrap .visual .swiper-wrapper .slide2 a {
  background-image: url(../images/visual_002.jpg);
}
main .visual_wrap .visual .swiper-button {
  width: 1200px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 990;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* absolute 기준점 맞추기 */
}
main .visual_wrap .visual .swiper-button .swiper-button-prev::after {
  display: none;
}
main .visual_wrap .visual .swiper-button .swiper-button-next::after {
  display: none;
}
main .banner { /* 광고배너 */ }
main .banner a {
  width: 100%;
  height: 400px;
  display: block;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
main .pick_wrap { /* MD pick */
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 0;
}
main .pick_wrap h2 {
  font-family: archer, nanum;
  font-size: 1.5rem;
  color: #CF661A;
}
main .pick_wrap .pick .swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide {
  position: relative;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .photo {
  margin-bottom: 25px;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .photo img {
  width: 100%;
  transition: all 0.5s ease;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .photo img:hover {
  opacity: 0.8;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .txt_box {
  height: 150px;
  color: #333333;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .txt_box .name {
  font-family: archer_b, nanum;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .txt_box .date {
  font-family: Arial, nanum;
  font-size: 0.875rem;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .txt_box .cost {
  font-family: nanum;
  font-size: 0.813rem;
  margin-bottom: 5px;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .txt_box .total_price {
  font-family: nanum;
  font-size: 0.875rem;
  color: #CF661A;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide a .quickview { /* 팝업시작 버튼 */
  position: absolute;
  top: 100px;
  left: 0;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  background-color: #F38200;
  color: #fff;
  border: 0;
  font-family: archer_b;
  font-size: 0.875rem;
  letter-spacing: 0.8px;
  display: none;
}
main .pick_wrap .pick .swiper-wrapper .swiper-slide:last-child {
  margin: 0;
}
main .pick_wrap .pick .page_btn { /* 페이지버튼 */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  height: 15px;
  position: relative;
  margin: 0 auto;
}
main .pick_wrap .pick .page_btn .pause {
  height: 13px;
}
main .pick_wrap .pick .page_btn .pause button {
  background-image: url(../images/btn_pause.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 13px;
  border: 0;
  background-color: #fff;
}
main .pick_wrap .pick .page_btn .play {
  height: 13px;
  display: none;
}
main .pick_wrap .pick .page_btn .play button {
  background-image: url(../images/btn_play.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 13px;
  border: 0;
  background-color: #fff;
}
main .pick_wrap .pick .page_btn .swiper-pagination::before { /* 구분선 */
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ccc;
  margin: 0 25px 0 25px;
}
main .pick_wrap .pick .page_btn .swiper-pagination {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: 0;
  left: 11px;
}
main .pick_wrap .pick .page_btn .swiper-pagination .swiper-pagination-bullet {
  background-color: #EEEEEE;
  opacity: 1;
  width: 15px;
  height: 15px;
}
main .pick_wrap .pick .page_btn .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F38200;
}
main .popup_bg { /* 팝업페이지 */
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 138px;
  z-index: 999;
}
main .popup_bg .popup {
  background-color: #fff;
  width: 1080px;
  height: 600px;
  padding: 60px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: calc((100vh - 138px) / 2);
  transform: translate(-50%, -50%);
}
main .popup_bg .popup .item_popup {
  width: 480px;
  height: 480px;
  position: relative;
  margin: 0;
}
main .popup_bg .popup .item_popup .swiper-wrapper .swiper-slide {
  width: 100%;
  background-position: center;
}
main .popup_bg .popup .item_popup .swiper-wrapper .swiper-slide span {
  display: none;
}
main .popup_bg .popup .item_popup .swiper-wrapper .slide1 {
  background-image: url(../images/popup_001.jpg);
}
main .popup_bg .popup .item_popup .swiper-wrapper .slide2 {
  background-image: url(../images/popup_002.jpg);
}
main .popup_bg .popup .item_popup .swiper-wrapper .slide3 {
  background-image: url(../images/popup_003.jpg);
}
main .popup_bg .popup .item_popup .swiper-button-prev {
  position: absolute;
  left: 11px;
}
main .popup_bg .popup .item_popup .swiper-button-prev::after {
  display: none;
}
main .popup_bg .popup .item_popup .swiper-button-next {
  position: absolute;
  right: 12px;
}
main .popup_bg .popup .item_popup .swiper-button-next::after {
  display: none;
}
main .popup_bg .popup .info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  align-items: start;
  width: 480px;
  height: 480px;
  text-align: start;
}
main .popup_bg .popup .info .top h2 {
  font-size: 1.5rem;
  font-family: archer, nanum;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
}
main .popup_bg .popup .info .top .date {
  font-family: nanum;
  font-size: 0.875rem;
  margin: 10px 0;
}
main .popup_bg .popup .info .top .price {
  font-family: nanum;
}
main .popup_bg .popup .info .top .price em {
  margin-left: 12px;
  color: #CF661A;
}
main .popup_bg .popup .info .btm dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
}
main .popup_bg .popup .info .btm dl dt {
  width: 73px;
  font-family: nanum;
  font-size: 0.813rem;
}
main .popup_bg .popup .info .btm dl dd {
  font-family: nanum;
  font-size: 0.813rem;
}
main .popup_bg .popup .info .btm dl:nth-child(2) {
  margin: 10px 0;
}
main .popup_bg .popup .info .btm dl:last-of-type dd {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 31px;
}
main .popup_bg .popup .info .btm dl:last-of-type dd button {
  background: none;
  border: 0;
}
main .popup_bg .popup .info .btm dl:last-of-type dd #count {
  font-family: nanum;
  font-size: 0.813rem;
  width: 118px;
  line-height: 28px;
  background-color: #EEEEEE;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  margin-bottom: 2px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .popup_bg .popup .info .btm .btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}
main .popup_bg .popup .info .btm .btn button {
  width: 235px;
  height: 45px;
  font-family: archer;
  font-size: 0.875rem;
  letter-spacing: 0.8px;
  border: 0;
  color: #fff;
  margin-top: 20px;
}
main .popup_bg .popup .info .btm .btn #cart_btn {
  background-color: #F38200;
}
main .popup_bg .popup .info .btm .btn #buy_btn {
  background-color: #CF661A;
}
main .popup_bg .popup #popup_close {
  background: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}
main .new_wrap { /* 신상 */
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 0;
}
main .new_wrap h2 {
  font-family: archer, nanum;
  font-size: 1.5rem;
  color: #CF661A;
}
main .new_wrap .new_slide .swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
main .new_wrap .new_slide .swiper-wrapper .swiper-slide {
  height: 580px;
}
main .new_wrap .new_slide .swiper-wrapper .swiper-slide a p:first-child {
  margin-bottom: 25px;
}
main .new_wrap .new_slide .swiper-wrapper .swiper-slide a p:first-child img {
  transition: all 0.5s ease;
}
main .new_wrap .new_slide .swiper-wrapper .swiper-slide a p:first-child img:hover {
  opacity: 0.8;
}
main .new_wrap .new_slide .swiper-wrapper .swiper-slide a p:last-child {
  padding: 0 40px;
  height: 90px;
  color: #CF661A;
  font-family: archer, nanum;
  font-size: 1.125rem;
}
main .new_wrap .new_slide .page_btn { /* 페이지버튼 */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  height: 15px;
  position: relative;
  margin: 0 auto;
}
main .new_wrap .new_slide .page_btn .pause {
  height: 13px;
}
main .new_wrap .new_slide .page_btn .pause button {
  background-image: url(../images/btn_pause.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 13px;
  border: 0;
  background-color: #fff;
}
main .new_wrap .new_slide .page_btn .play {
  height: 13px;
  display: none;
}
main .new_wrap .new_slide .page_btn .play button {
  background-image: url(../images/btn_play.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 13px;
  border: 0;
  background-color: #fff;
}
main .new_wrap .new_slide .page_btn .swiper-pagination::before { /* 구분선 */
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ccc;
  margin: 0 25px 0 25px;
}
main .new_wrap .new_slide .page_btn .swiper-pagination {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: 0;
  left: 11px;
}
main .new_wrap .new_slide .page_btn .swiper-pagination .swiper-pagination-bullet {
  background-color: #EEEEEE;
  opacity: 1;
  width: 15px;
  height: 15px;
}
main .new_wrap .new_slide .page_btn .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F38200;
}
main .insta_wrap { /* 인스타그램 */
  background-color: #7C51A1;
  text-align: center;
  padding: 55px 0;
}
main .insta_wrap h2 {
  font-family: archer, nanum;
  font-size: 1.5rem;
  color: #CF661A;
  color: #fff;
}
main .insta_wrap .thumbnail {
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
main .insta_wrap .thumbnail a {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
main .insta_wrap .thumbnail a img {
  width: 100%;
  transition: all 0.5s ease;
}
main .insta_wrap .thumbnail a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
main .insta_wrap #insta {
  color: #fff;
  background-color: #F38200;
  font-family: archer, nanum;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  width: 400px;
  line-height: 40px;
}

footer {
  background-color: #e2e2e2;
  padding: 55px 0;
}
footer .menu {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 55px;
}
footer .menu dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}
footer .menu dl dt {
  font-family: archer, nanum;
  font-size: 1.125rem;
  width: 135px;
  color: #CF661A;
  margin-right: 50px;
}
footer .menu dl dd a {
  font-family: nanum;
  font-size: 0.813rem;
  color: #4b2616;
}
footer .menu dl dd a em {
  font-family: nanum_b;
}
footer .menu dl dd::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #ccc;
  margin: 0 15px;
  height: 10px;
  background-color: #ccc;
  margin: 0 30px;
}
footer .menu dl dd:last-child::after {
  display: none;
}
footer .menu dl:last-child {
  margin: 0;
}
footer .inner_footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  border-top: 1px solid #4b2616;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
footer .inner_footer .left .law {
  margin-bottom: 25px;
}
footer .inner_footer .left .law a {
  font-family: nanum;
  font-size: 0.813rem;
  color: #5f4d3f;
}
footer .inner_footer .left .law a em {
  color: #CF661A;
}
footer .inner_footer .left .law a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #ccc;
  margin: 0 15px;
  height: 10px;
  background-color: #4b2616;
  margin: 0 10px;
}
footer .inner_footer .left .law a:last-child::after {
  display: none;
}
footer .inner_footer .left .address span {
  font-family: nanum;
  font-size: 0.813rem;
  line-height: 1.8;
  color: #5f4d3f;
}
footer .inner_footer .left .address span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #ccc;
  margin: 0 15px;
  height: 10px;
  background-color: #5f4d3f;
  margin: 0 10px;
}
footer .inner_footer .left .address span:nth-of-type(3)::after,
footer .inner_footer .left .address span:nth-of-type(6)::after,
footer .inner_footer .left .address span:last-child::after {
  display: none;
}
footer .inner_footer .sns a {
  margin-left: 15px;
}
footer .inner_footer .sns a:first-child {
  margin: 0;
}/*# sourceMappingURL=index.css.map */